<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express exam</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- navbar --}}
  <nav>
    <div class="container">
      <a href="/">
        <button class="homepage">回到首頁</button>
      </a>
      <div class="btns">
        <a href="/about">
          <button class="btn about">About</button>
        </a>
        <a href="/portfolio">
          <button class="btn portfolio">Portfolio</button>
        </a>
        <a href="/contact">
          <button class="btn contact">Contact</button>
        </a>
      </div>
    </div>
  </nav>
  <div class="main-container">
    {{{body}}}
  </div>
  <script src="/javascripts/main.js"></script>
</body>

</html>